body {
  width: 700px;
  margin: auto;
  padding: 20px;
}

#go-btn {
  margin-bottom: 20px;
}

.contactInfo {
  border: 1px solid grey;
  padding: 0 25px;
}

.name {
  font-weight: bold;
  font-size: larger;
  margin-bottom: -10px;
}

.email {
  margin-bottom: -10px;
}
